<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="index.css">
  <title>ChatGPT - Your AI assistant</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="container">
    <h1>Your AI assistant</h1>
    <p>¡Bienvenido a tu mejor Bot! Introduce aquí lo que quieres saber.</p>
    <form method="POST" class="contact-us">
      <br>
      <br>
      <label for="variable">Introduce tu pregunta:</label>
      <input name="variable" id="variable">
      <br>
      <br>
      <br>
      <button type="submit">RESPUESTA</button>
      <br>
    </form>
  </div>
</body>
</html>
